@{
    ViewData["Title"] = "Pesquisar";
}

<div class="row">
    <div class="col-md-4">
        <h3 class="display-4" style="font-weight: 400;">Pesquisar</h3>
        <p style="font-size: 20px;">
        <br>
                <a asp-action="ObterPorTitulo">Título</a>
        <br>    
                <a asp-action="ObterPorData">Data</a>
        <br>   
                <a asp-action="ObterPorStatus">Status</a>
        </p>
    </div>
</div>
